body {
    /* padding: 50px; */
    margin-top: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.pagina {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 50%;
}

.mdl-textfield {
    width: 100%;
}

.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored:hover {
    background: white;
    color: royalblue;
}